{% extends 'base.html.twig' %}

{% block title %}Connecte-toi{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <div class="col-6 formContainer text-white">
            <div class="row d-flex justify-content-center">
                <div class="col-6">                
                    <h1 class="mb-5 fs-1 text-center">Connecte-toi</h1>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        <p class="text-center mt-4">
                            <button class="btn btn-warning" type="submit">
                                Se connecter
                            </button>
                        </p>
                    </form>
                    <div class="row mt-5">
                        <h2 class="text-center fs-4 mb-4">Pas encore de compte ?</h2>
                        <div class="col">
                            <a class="text-white text-decoration-none btn btn-sm btn-outline-warning text-center" href="{{ path('candidate_register') }}">Créer un compte candidat</a>
                        </div>
                        <div class="col">
                            <a class="text-white text-decoration-none btn btn-sm btn-outline-warning text-center" href="{{ path('recruiter_register') }}">Créer un compte recruteur</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <img src="images/trtConseilBackground.jpg" alt="edit"/>
        </div>
    </div> 
</main>
{% endblock %}
