{% extends 'base.html.twig' %}

{% block title %}Créer un compte recruteur{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/recruiterRegister.css') }}" />
{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <div class="col-6 formContainer text-white">
            <div class="row d-flex justify-content-center mainFormRow">
            <h1 class="fs-3 mb-5 text-center">Créer un compte recruteur</h1>
                <div class="col-5">
                    {{ form_start(registrationForm) }}
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        {{ form_errors(registrationForm.email) }}
                        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
                        {{ form_widget(registrationForm.plainPassword.first) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                        {{ form_label(registrationForm.plainPassword.second, 'Confirmation du mot de passe') }}
                        {{ form_widget(registrationForm.plainPassword.second) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                        <p class="text-center mt-4">
                            <button type="submit" class="btn btn-warning">Créer</button>
                        </p>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <img src="../images/trtConseilBackground.jpg" alt="edit"/>
        </div>
    </div> 
</main>

{% endblock %}
