<div class="col-3 d-flex flex-column profil text-center text-white fs-5">
	<div class="row my-5">
		<span class="p-2">Mon profil recruteur</span>
	</div>
	<div class="row mb-5 p-2">
		<span class="mb-2 p-2">{{ user.email }}</span>
		{% if user.company is empty %}
			<span class="mb-2 p-2">Entreprise non renseignée</span>
		{% else %}
			<span class="mb-2 p-2">{{ user.company }}</span>
		{% endif %}

		{% if user.address is empty %}
			<span>Adresse non renseignée</span>
		{% else %}
			<span>{{ user.address }}</span>
		{% endif %}
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-8">
			<a href="{{ path('recruiter_edit') }}" class="btn btn-outline-warning mb-3">Modifier son profil</a>
			<a href="{{ path('app_logout') }}" class="btn btn-outline-warning">Se déconnecter</a>
		</div>
	</div>
</div>