{% extends "base.html.twig" %}

{% block stylesheets %} 
	<link rel="stylesheet" href="{{ asset('css/recruiter/index.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/recruiter/_adForm.css') }}" />
{% endblock %}

{% block body %}
	<div class="container-fluid h-100">
		<div class="row h-100">
			<!-- left side profil -->
			<div class="col-3 d-flex flex-column profil text-center text-white fs-5">
				<div class="row my-5">
					<span class="p-2">Mon profil recruteur</span>
				</div>
				<div class="row mb-5 p-2">
					<span class="mb-2 p-2">{{ user.email }}</span>
					{% if user.company is empty %}
						<span class="mb-2 p-2">Entreprise non renseignée</span>
					{% else %}
						<span class="mb-2 p-2">{{ user.company }}</span>
					{% endif %}

					{% if user.address is empty %}
						<span>Adresse non renseignée</span>
					{% else %}
						<span>{{ user.address }}</span>
					{% endif %}
				</div>
				<div class="row">
					<a href="{{ path('recruiter_edit') }}"><button type="button" class="btn btn-outline-warning mb-3">Modifier son profil</button></a>
					<a href="{{ path('app_logout') }}"><button type="button" class="btn btn-outline-warning">Se déconnecter</button></a>
				</div>
			</div>
			<!-- main area-->
			<main class="col main">
				<div class="row">
					<h2 class="text-center mt-3 fs-4">Publier une annonce</h2>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success" role="alert">
							{{ message }}
						</div>
					{% endfor %}
					<!-- include ad form -->
					{% include "_adForm.html.twig" %}
					<hr class="mt-3"/>
				</div>
				<div class="row">
					<h2 class="text-center mt-3 fs-4">Liste des candidats ayant postulé à vos annonces</h2>
					{% include "_candidateList.html.twig" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}