<div class="container-fluid text-center my-5">
	<div class="row d-flex justify-content-center">
		<div class="jobContainer col-7 border border-secondary">
			<div class="row d-flex justify-content-center align-items-center py-3">
				<div class="col-12 fw-bold fs-5">{{ job.title }}</div>
			</div>
			<div class="row d-flex justify-content-center align-items-center py-3">
				<div class="col-2">⏱ {{ job.scheduleStart|date('H\\hi') }}</div>
				<div class="col-2">⏱ {{ job.scheduleEnd|date('H\\hi') }}</div>
				<div class="col-8">Année(s) d'expérience requise : {{ job.yearExperienceRequired }}</div>
			</div>
			<div class="row d-flex justify-content-center align-items-center py-3">
				<div class="col-12">{{ job.description }}</div>
			</div>
			<div class="row d-flex justify-content-center align-items-center py-3">
				<div class="col-4">📍 {{ job.place }}</div>
				<div class="col-4 text-success fw-bold fs-5">
					Demande acceptée
				</div>
				<div class="col-4">💰 {{ job.salary }}€</div>
			</div>
		</div>
	</div>
</div>